@use "../../styles/common" as *;

.Description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: rhythm(0.5);
  padding-bottom: rhythm(0.5);

  &__name {
    @include var(color, text-secondary);

    display: flex;
    align-items: center;
    font-weight: bolder;
  }

  &__icon {
    margin-left: rhythm(1);
  }

  &__detail {
    margin-left: rhythm(2);
  }
}
